// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

@use '../abstracts/' as *;

.header {
  margin-bottom: to-rem(58);
  position: relative;
  align-self: end;

  &::after {
    content: '';
    background: url('../images/pattern-circles.svg') no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: to-rem(150);
    aspect-ratio: 1;
    z-index: -1;
  }

  &__description {
    font-size: clamp(to-rem(13), to-view-width(16), to-rem(15));

    span {
      display: block;

      @include breakpoint('small') {
        display: inline;
      }
    }
  }
}
